*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

nav{
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border: 1px solid #cccccc;
}

.nav-con{
    display: flex;
    justify-content: space-between;
}


.logo a{
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
}

.logo img{
    height: 60px;
    width: auto;
    display: block;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000000;
    padding: 1rem;

}

.maincontent{
    background-image: url("C:/Users/Asus/Downloads/bg3.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.maincontent-info {
    text-align: center;
    color: #ffffff;
}

.maincontent-info h1{
    font-size: 80px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.maincontent-info h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
}

.maincontent-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.curriculum-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.curriculum-title {
    margin: 7rem 0 2rem 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.curriculum-item img {
    display: flex;
    flex-direction: column;
    width: 80%;
    display: block;
    margin: 1rem auto;
    border-radius: 10px;

}
.curriculum-item h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0rem 2.8rem;
    display: block;
    margin: 0 auto;
}

.curriculum-item p {
    margin: 1rem 0;
    padding: 0rem 2.8rem;
    display: block;
    margin: 0.5rem auto ;
}

.curriculum-btncon {
    padding: 0rem 2.8rem;
}

.curriculum-item a {
    display: inline-block;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #cb5f00;
    text-decoration: none;
    border-radius: 5px;
}

.gototop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.gototop-btn {
    padding: 0.6rem 1.2rem;
    background-color: #9d9898;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
}

.gototop-btn:hover {
    background-color: #7a7575;
}

.contact {
    background-color: #cfcfcf;
}

.contact-con {
    padding-top: 5rem;
    display: flex;
}

.contact-info {
    width: 100%;
    padding: 2rem;
}

.contact-info h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    margin: 1rem 0 0.5rem;
}

.contact-item-phone {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 18px;
    margin: 1rem 0 0.5rem;
}

.contact-item img {
    width: 20px;
    height: 20px;
}

.contact-img {
    max-width: 700px;
    margin: 1rem auto;
}

.contact-img img {
    width: 100%;  
    height: auto;  
    display: block;
    border-radius: 5px;
    padding-right: 4rem;
}

.footer {
    width: 100%;
    height: 250px;
    background-color: #333333;
    text-align: center;
}